<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{login}"/>
    <script type="text/javascript">
        function validate_required(field, msg) {
            with (field) {
                if (value == null || value == "") {
                    alert(msg);
                    return false
                } else {
                    return true
                }
            }
        }

        function validate_form(thisform) {
            with (thisform) {
                if (validate_required(userName, "User name must be filled out!") == false) {
                    userName.focus();
                    return false
                }
                if (validate_required(password, "Password must be filled out!") == false) {
                    password.focus();
                    return false
                }
            }
            return true;
        }

        function send_form(thisform) {
            if (validate_form(thisform)) {
                thisform.submit();
            }
        }
    </script>
</head>
<body>

<form action="/changeSessionLanauage" method="get" th:if="${#locale.language} == en">

    <input name="lang" type="hidden" value="zh"  />

    <button th:text="#{change_to_chinese}"/>

</form>


<form action="/changeSessionLanauage" method="get" th:if="${#locale.language} == zh">

    <input name="lang" type="hidden" value="en" />

    <button th:text="#{change_to_english}"/>

</form>


<p th:text="${error}"/>
<form name="form1" action="loginCheck.html" method="post">
    <table>
        <tr>
            <td th:text="#{login_user}"/>
            <td><input type="text" name="userName"/></td>
        </tr>
        <tr>
            <td th:text="#{login_password}"/>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td><input type="button" th:value="#{login}" onclick="send_form(form1)" /></td>
                </tr>
            </table>
        </form>
        <br/>
        <a href="/register.html" th:text="#{register}"/>
</body>
</html>
